* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  .active {
    text-decoration: none;
        display: flex;
        width: 200px;
        padding: 14px 81px 14px 15px;
        align-items: center;
        gap: 12px;
    border-radius: 8px;
    background: #c8ee44;
    .icon1 {
      svg {
        filter: brightness(0) saturate(100%) invert(7%) sepia(8%)
        saturate(3581%) hue-rotate(181deg) brightness(95%) contrast(87%);
      }
    }
    h2 {
      
      color: var(--text-color-text-1, #1b212d);

      /* Size 14/Size 14 SemiBold */
      font-family: Kumbh Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  background: var(--gray-gray-1, #fafafa);
  width: 250px;
  padding-left: 25px;
  padding-top: 35px;
  padding-right: 25px;
  padding-bottom: 100px;
  .control {
    .text1 {
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      h2 {
        color: var(--text-color-text-1, #1b212d);
        font-family: "Nosifer", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .icons {
      display: flex;
      flex-direction: column;
      gap: 2px;
      padding-top: 40px;
      .dashboard {
        text-decoration: none;
        display: flex;
        width: 200px;
        padding: 14px 81px 14px 15px;
        align-items: center;
        gap: 12px;
        h2 {
          color: var(--text-color-text-2, #929eae);

          /* Size 14/Size 14 Medium */
          font-family: Kumbh Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .dashboard:hover {
        cursor: pointer;
        .icon1 {
          svg {
            filter: brightness(0) saturate(100%) invert(7%) sepia(8%)
              saturate(3581%) hue-rotate(181deg) brightness(95%) contrast(87%);
          }
        }
        h2 {
          color: var(--text-color-text-1, #1b212d);

          /* Size 14/Size 14 SemiBold */
          font-family: Kumbh Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        border-radius: 8px;
        background: #c8ee44;
      }
    }
    .icons1 {
      padding-top: 354px;
      .dashboard1 {
        text-decoration: none;
        display: flex;
        width: 200px;
        padding: 14px 81px 14px 15px;
        align-items: center;
        gap: 12px;
        h2 {
          color: var(--text-color-text-2, #929eae);

          /* Size 14/Size 14 Medium */
          font-family: Kumbh Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .dashboard1:hover {
        cursor: pointer;
        .icon1 {
          svg {
            filter: brightness(0) saturate(100%) invert(7%) sepia(8%)
              saturate(3581%) hue-rotate(181deg) brightness(95%) contrast(87%);
          }
        }
        h2 {
          color: var(--text-color-text-1, #1b212d);

          /* Size 14/Size 14 SemiBold */
          font-family: Kumbh Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        border-radius: 8px;
        background: var(--Primary-Color, #c8ee44);
      }
    }
  }
}
